
p{
	margin: 0;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
}
p img{
	width: 40%;
	height: 30%;
	float: left;
	margin: 5px; 
}
h3{
	text-align: center;
}
body{
	padding: 0px;
	margin: 0px;
}

.back{
	width: 100vw;
	height: 100vh;
	background-color: lightgray;
	position: fixed;
	z-index: 99;
}

.front{
	width: 50vw;
	height: 100vh;
	background-color: white;
	margin: 0 auto;
	z-index: 100;
	font-size: 1.6em;
}